@charset "utf-8";
/* CSS Document */
h1 {font-size: 24pt; color: #906; font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;}
h2 {font-size: 18pt; color: #900; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;}
body {font-size: 14pt; color: #03F; font-family: "Times New Roman", Times, serif; background-color: #0CF;}